/* CSS */
nav ul {
    list-style-type: none;
    margin-top: 400px;
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #333;
}

nav ul li {
    color: white;
    padding: 20px 0; /* Increase this value to make the navbar fatter */
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 20px; /* Increase this value to make the navbar fatter */
}

nav ul li a:hover {
    color: #111;
}